# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg
*.egg-info/
dist/
build/
*.so
*.dll

# Streamlit
.streamlit/secrets.toml  # MUITO IMPORTANTE: Suas credenciais não devem ir para o GitHub!

# IDEs e Outros
.vscode/
.idea/
*.log
*.txt
*.env